#card {
    width: 20%;
    float: left;
    text-align: center;
    padding: 2%;
    margin: 2%;
    background-color: cadetblue;
}

body {
    background-image: url(../img/4229be1d493c7971fcc4f5627b9fd79d.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #8dc97f; 
}

.bg-navbar {
    background-color: cadetblue;
}

.nav-link {
    color: rgb(21, 218, 47);
    
}

.navbar {
    padding: 1%;
    margin: 1%;
}

.dropdown-item {
    background-color: cadetblue;
    text-align: center;
    padding: 5%;
    margin: 0%;
}
